# Logical operators

In [1]:
# Loading the libraries
import numpy as np
import pandas as pa

# Defining the data
x = [True, True, False, False]
y = [False, True, True, False]
ans = {
    'x'   : x,
    'y'   : y,
    'and' : np.logical_and(x, y),
    'or'  : np.logical_or(x, y),
    'xor' : np.logical_xor(x, y)
    }
pa.DataFrame(ans)

       x      y    and     or    xor
0   True  False  False   True   True
1   True   True   True   True  False
2  False   True  False   True   True
3  False  False  False  False  False

This is very different from how R defines a function. This function, which is an alternative implementation of the `xor` operator

In [2]:
def myxor(x,y):
    x1 = np.logical_and(x, np.logical_not(y))
    x2 = np.logical_and(np.logical_not(x), y)
    return np.logical_or(x1, x2)

Can be defined in R as follows:

```r
myxor <- function(x,y) {
    x1 <- x & !y
    x2 <- !x & y
    return(x1 | x2)
}
```

Executing this function in python returns the following:

In [3]:
ans['myxor'] = myxor(x,y)
pa.DataFrame(ans)

       x      y    and     or    xor  myxor
0   True  False  False   True   True   True
1   True   True   True   True  False  False
2  False   True  False   True   True   True
3  False  False  False  False  False  False

# Logical Operators with Data Table

In [4]:
import datatable as dt
dat = dt.fread("met.gz")
dat.head(5)

In [5]:
dat[(dt.f.day == 1) & (dt.f.lat > 40) & ((dt.f.elev < 500) | (dt.f.elev > 1000)), :].nrows

27623

# Column selection

In [7]:
dat[:,["USAFID", "lat", "lon"]].head(5)

# Variable creation

In [11]:
dat[:, dt.update(Date = dt.f.year*10000 + dt.f.month*100 + dt.f.day)]
dat[1:5, ["Date", "year", "month", "day"]] # First five rows of Date, year, month, day columns

In [ ]:
dat_daily = dat[:
  ,
  {
    "atm_press_avg" : dt.mean(dt.f["atm.press"]),
    "temp_avg"      : dt.mean(dt.f.temp)
  },
  dt.by("USAFID", "Date")
]

In [ ]:
dat_daily