In [16]:
import numpy as np
import datatable as dt
x = [True, True, False, False]
y = [False, True, True, False]
ans = {
    'x'   : x,
    'y'   : y,
    'and' : np.logical_and(x, y),
    'or'  : np.logical_or(x, y),
    'xor' : np.logical_xor(x, y)
    }
dt.Frame(ans)

In [17]:
import pandas as pa
pa.DataFrame(ans)

       x      y    and     or    xor
0   True  False  False   True   True
1   True   True   True   True  False
2  False   True  False   True   True
3  False  False  False  False  False

In [62]:
def myxor(x,y):
    return np.logical_or(
        np.logical_and(x, np.logical_not(y)),
        np.logical_and(np.logical_not(x), y)
    )

ans['myxor'] = myxor(x,y)
pa.DataFrame(ans)

       x      y    and     or    xor  myxor
0   True  False  False   True   True   True
1   True   True   True   True  False  False
2  False   True  False   True   True   True
3  False  False  False  False  False  False

In [67]:
import datatable as dt
dat = dt.fread("met.gz")
dat

In [68]:
dat.head(5)

In [79]:
dat[dt.f.day == 1,:][dt.f.lat > 40,:][(dt.f.elev < 500) | (dt.f.elev > 1000),:]
dat[(dt.f.day == 1) & (dt.f.lat > 40) & ((dt.f.elev < 500) | (dt.f.elev > 1000)),:].shape

(27623, 30)

In [80]:
dat.nrows

2377343